<div id="map"></div>
<div class="map-black">
  <div class="map-overlayreg">
    <p>WHO ARE YOU ?</p>
    <form method="POST" action="/register">
      <div>
        <input type="text" name="name" id="name" placeholder="Name">
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="Email">
      </div>
      <div>
        <input type="address" name="address" id="address" placeholder="Address">
      </div>
      <div>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
      </div>
      <button>Register</button>
    </form>
  </div>
</div>
